/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --main-color: #212121;
  --logo-color: #000000;
  --accent-color: #2196f3;
  --background-dark-color: #2f303a;
  --background-light-color: #F5F4FA;
  --active-color: #FFFFFF;
  --inactive-color: #757575;
  --border-color: #EEEEEE;
  --portfolio-border-color: #ECECEC;
}

body {
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.main-menu {
  background: var(--active-color);
  border: 1px solid #ECECEC;
}

.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  height: auto;
}

.main-menu a {
  text-decoration: none;
}

.menu-list {
  display: flex;
  justify-content: center;
}

.menu-item {
  display: flex;
  margin-right: 50px;
}

.menu-list:last-child {
  margin-right: 0px;
}

.link {
  position: relative;
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  display: block;
  letter-spacing: 0.02em;
  color: var(--main-color);
  padding-bottom: 32px;
  padding-top: 32px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.link::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  left: 0;
  bottom: 0;
  background: #2196F3;
  border-radius: 2px;
  height: 4px;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover::after {
  opacity: 1;
}

.current {
  color: var(--accent-color);
}

.current::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  left: 0;
  bottom: 0;
  background: #2196F3;
  border-radius: 2px;
  height: 4px;
  opacity: 1;
}

.logo-web {
  color: var(--accent-color);
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
}

.logo-studio {
  color: var(--logo-color);
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.tel-mail-title a {
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--inactive-color);
  display: flex;
  align-items: center;
  padding-bottom: 32px;
  padding-top: 32px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.tel-mail-title {
  height: 16px;
  display: flex;
  align-items: center;
}

.menu-item-contacts {
  margin-right: 50px;
}

.link-header {
  width: 171px;
}

.menu-item-contacts:last-child {
  margin-right: 0px;
}

header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
}

.navbar {
  display: flex;
  align-items: center;
}

.tel-mail-title {
  display: flex;
}

.logo {
  display: flex;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-right: 93px;
}

.mail {
  height: 10px;
  width: 16px;
  fill: var(--inactive-color);
  margin-right: 10px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.telephone {
  width: 10px;
  height: 16px;
  fill: var(--inactive-color);
  margin-right: 10px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link-header:focus .mail,
.link-header:hover .mail {
  fill: var(--accent-color);
}

.link-header:focus .telephone,
.link-header:hover .telephone {
  fill: var(--accent-color);
}

.link-header:focus,
.link-header:hover {
  color: var(--accent-color);
}

.hero {
  height: 600px;
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 200px;
  padding-right: 0;
  padding-left: 0;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero.jpg);
  text-align: center;
}

.title-hero {
  font-family: Roboto;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: var(--active-color);
  text-transform: uppercase;
  margin-bottom: 30px;
}

.button {
  font-family: Roboto;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  color: var(--active-color);
  background-color: var(--accent-color);
  padding-right: 32px;
  padding-left: 32px;
  padding-bottom: 10px;
  padding-top: 10px;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.button:hover {
  cursor: pointer;
}

.advantages {
  padding-top: 94px;
  padding-bottom: 94px;
  padding-right: 15px;
  padding-left: 15px;
  display: flex;
  justify-content: center;
}

.advantages-list {
  display: flex;
}

.advantages-item {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--inactive-color);
  width: 270px;
  margin-right: 30px;
  width: 270px;
  text-align: left;
}

.advantages-item:last-child {
  margin-right: 0px;
}

.advantages-pictures {
  height: 120px;
  width: 270px;
  border-radius: 4px;
  background: #F5F4FA;
  margin-bottom: 30px;
  height: 120px;
  width: 270px;
  border-radius: 4px;
  height: 120px;
  width: 270px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.advantages-icons {
  width: 66px;
  height: 70px;
}

.advantages-header {
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--background-dark-color);
  margin-bottom: 10px;
}

.specialization {
  padding-bottom: 94px;
  padding-right: 15px;
  padding-left: 15px;
}

.specialization-header {
  font-family: Roboto;
  font-size: 36px;
  font-weight: bold;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--main-color);
  text-align: center;
  margin-bottom: 50px;
}

.specialization-list {
  display: flex;
  justify-content: center;
}

.specialization-item {
  display: flex;
  margin-right: 30px;
}

.specialization-item :last-child {
  margin-right: 0px;
}

.specialization-list p {
  font-family: Roboto;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--active-color);
}

.specialization-item {
  position: relative;
  width: 370px;
}

.label-specialization {
  position: absolute;
  width: 100%;
  background: rgba(47, 48, 58, 0.8);
  margin-top: 224px;
  padding-bottom: 29px;
  padding-top: 27px;
  padding-right: 82px;
  padding-left: 82px;
}

.our-team {
  background-color: var(--background-light-color);
  padding-top: 94px;
  padding-bottom: 94px;
  padding-right: 15px;
  padding-left: 15px;
}

.team-list {
  display: flex;
  justify-content: center;
}

.our-team-item {
  display: flex;
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-right: 30px;
  width: 270px;
  background-color: var(--active-color);
}

.our-team-list {
  display: flex;
  justify-content: center;
  height: 44px;
  width: 206px;
}

.our-team-icon {
  fill: #AFB1B8;
  width: 20px;
  height: 20px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.our-team-button {
  background-color: var(--active-color);
  border: 0;
  display: flex;
  height: 44px;
  width: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.name-container {
  padding: 30px;
}

.name-container > img {
  display: block;
  min-width: 100px;
}

.our-team-item:last-child {
  margin-right: 0px;
}

.our-team-header {
  font-family: Roboto;
  font-size: 36px;
  font-weight: bold;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--main-color);
  text-align: center;
  margin-bottom: 50px;
}

.name {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-color);
  margin-bottom: 10px;
}

.profession {
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--inactive-color);
  margin-bottom: 16px;
}

.our-team-link {
  height: 44px;
  width: 44px;
  border-radius: 50px;
  background-color: var(--active-color);
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.our-team-link:hover,
.our-team-link:focus {
  background-color: var(--accent-color);
}

.our-team-link-list {
  height: 44px;
  width: 44px;
  margin-right: 10px;
}

.our-team-list:last-child {
  margin-right: 0;
}

.our-team-link:focus .our-team-icon,
.our-team-link:hover .our-team-icon {
  fill: var(--active-color);
}

.clients {
  background: var(--active-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-header {
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
  color: var(--main-color);
}

.clients-list {
  display: flex;
  justify-content: center;
}

.clients-link {
  display: block;
  height: 90px;
  width: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:focus,
.clients-link:hover {
  border: 1px solid var(--accent-color);
}

.clients-link:focus .current,
.clients-link:hover .current {
  fill: var(--accent-color);
}

.clients-icon-a {
  width: 45px;
  height: 44px;
  fill: #AFB1B8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-icon-b {
  width: 40px;
  height: 52px;
  fill: #AFB1B8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-icon-c {
  width: 42px;
  height: 42px;
  fill: #AFB1B8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-icon-d {
  width: 80px;
  height: 42px;
  fill: #AFB1B8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-icon-e {
  width: 59px;
  height: 47px;
  fill: #AFB1B8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-icon-f {
  width: 88px;
  height: 66px;
  fill: #AFB1B8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-item {
  width: 170px;
  height: 90px;
  margin-right: 30px;
}

.clients-item:last-child {
  margin-right: 0;
}

.clients-icon {
  fill: #AFB1B8;
  width: 170px;
  height: 90px;
}

.clients-icon:hover {
  fill: #2196f3;
}

.contact-information {
  background: var(--background-dark-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.contact-information-container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  align-items: baseline;
}

.logo-studio-white {
  color: var(--active-color);
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.company-address {
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--active-color);
  margin-top: 20px;
}

.tel-mail {
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--inactive-color);
  text-decoration: none;
  display: block;
}

.contact-information-item {
  margin-top: 9px;
}

.tel-mail:hover,
.tel-mail:focus {
  color: var(--accent-color);
}

.link-logo {
  display: block;
}

.container-icons > p {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.contact-list-icons {
  display: flex;
  align-items: center;
}

.contact-icons {
  height: 44px;
  width: 44px;
  margin-right: 10px;
  fill: var(--active-color);
}

.contact-icons:last-child {
  margin-right: 0;
}

.contact-list-link {
  border-radius: 50%;
  height: 44px;
  width: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-list-link:hover,
.contact-list-link:focus {
  background-color: var(--accent-color);
}

.contact-icons-footer {
  height: 20px;
  width: 20px;
  fill: #FFFFFF;
}

.container-icons {
  margin-left: 70px;
}

.subscribe {
  margin-left: 93px;
  position: relative;
}

.subscribe > p {
  font-family: Roboto;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--active-color);
  margin-bottom: 20px;
}

.footer-submit-input {
  margin-right: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: inherit;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  width: 358px;
  height: 50px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--inactive-color);
}

.contact-icons-footer-subcribe {
  width: 24px;
  height: 24px;
  position: absolute;
  margin-left: 10px;
  top: 30%;
  translate: Y(-30%);
}

.btn-subscribe {
  min-width: 200px;
  position: relative;
  background-color: var(--accent-color);
  border: none;
  box-shadow: 0px 4px 4px black;
  border-radius: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 29px;
  padding-left: 13px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  transition: background-color var(--time-hover) cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.portfolio-buttons {
  padding-top: 94px;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
}

.button-portfolio-list {
  display: flex;
}

.portfolio-item {
  margin-right: 8px;
}

.button-portfolio-list:last-child {
  margin-right: 0px;
}

.button-portfolio {
  background: var(--background-light-color);
  border-radius: 4px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  cursor: default;
  padding-right: 22px;
  padding-left: 22px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 4px;
  border: 0px;
  border-radius: 4px;
  box-shadow: 0;
  transition-property: background-color, color, cursor, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-portfolio:hover,
.button-portfolio:focus {
  background-color: var(--accent-color);
  color: var(--active-color);
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-photo {
  padding-bottom: 94px;
}

.portfolio-photo-container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  height: auto;
}

.portfolio-gallery a {
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--inactive-color);
  display: block;
  border: 1px solid #EEEEEE;
  text-decoration: none;
}

.portfolio-list {
  display: flex;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
  list-style-type: none;
}

.portfolio-gallery {
  margin-top: 30px;
  margin-left: 30px;
  flex-basis: calc(100% / 3 - 30px);
}

.portfolio-header {
  font-family: Roboto;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-color);
  margin-bottom: 4px;
}

.portfolio-link {
  width: 370px;
  box-shadow: 0;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-gallery-container {
  padding-right: 24px;
  padding-left: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.technokryak-text {
  font-family: Roboto;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--active-color);
}

.portfolio-thumb {
  position: relative;
  overflow: hidden;
}

.technokryak {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 294px;
  display: flex;
  align-items: center;
  text-align: left;
  padding-right: 24px;
  padding-left: 24px;
  background-color: var(--accent-color);
  transform: translatey(141%);
  transition: transform 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover .technokryak {
  transform: translatey(0);
}

.portfolio-link:focus .technokryak {
  transform: translatey(0);
}

.link-logo {
  text-decoration: none;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 1000s cubic-bezier(0.4, 0, 0.2, 1);
  transition: visibility 1000ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  padding-bottom: 40px;
  width: 528px;
  border-radius: 4px;
  background: var(--active-color);
  display: flex;
  justify-content: flex-end;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal-button {
  position: absolute;
  height: 30px;
  width: 30px;
  border-radius: 50px;
  top: 8px;
  right: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--active-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-icone {
  fill: var(--main-color);
  width: 12px;
  height: 12px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:focus .modal-icone,
.modal-button:hover .modal-icone {
  fill: var(--accent-color);
}

.modal {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
  cursor: pointer;
}

.modal-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.modal-form-input-label {
  font-family: Roboto;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}

.modal-header {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 12px;
  color: var(--main-color);
}

.modal-form-input {
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color 250ms linear;
  cursor: pointer;
  margin-top: 5px;
}

.modal-form-input-icon {
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  width: 15px;
  height: 12px;
  cursor: pointer;
}

.modal-form-input:focus + .modal-form-input-icon {
  fill: var(--accent-color);
}

.modal-form-input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-message {
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.01em;
  display: block;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  transition: border-color 250ms linear;
  padding: 15px;
  margin-bottom: 20px;
  margin-top: 5px;
}

.modal-form-message:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-message::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-message:focus::placeholder {
  color: var(--accent-color);
}

.modal-form-btn {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 56px;
  padding-left: 56px;
  margin-top: 30px;
  text-align: center;
  background-color: var(--accent-color);
  color: var(--active-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: var(--accent-color);
}

.modal-form-input-wrapper {
  display: block;
  position: relative;
}

.link-modal {
  color: var(--accent-color);
  text-decoration: underline;
}

.modal-form-label-policy {
  font-family: Roboto;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}

.modal-form-label-policy::before {
  display: inline-block;
  width: 16px;
  height: 15px;
  border-radius: 4px;
  border: 2px solid #212121;
  box-shadow: 0px 1px 3px black, 0px 1px 1px black, 0px 2px 1px black;
  margin-right: 10px;
  content: "";
  cursor: pointer;
}

.modal-form-check-policy:checked + .modal-form-label-policy::before {
  background-color: var(--accent-color);
  border-radius: 2px;
  border: none;
  background-image: url(../img/icon.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.wrapper-modal {
  position: relative;
}

.modal-form-check-policy:focus + .modal-form-label-policy::before {
  outline: 2px solid #212121;
}
/*# sourceMappingURL=main.css.map */