/*utils*/
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/*base*/
body {
  font-family: "Roboto", sans-serif;
  color: #212121;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* none */
.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.conteiner {
  width: 100%;
  padding: 0px 15px;
}

.header .conteiner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 480px) {
  .conteiner {
    max-width: 480px;
  }
}

@media screen and (min-width: 480px) {
  .conteiner {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .conteiner {
    width: 768px;
    padding-top: 0;
    padding-bottom: 0;
  }
  p .header .conteiner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  .conteiner {
    width: 1200px;
  }
}

/*components*/
.logo {
  display: block;
  font-family: Raleway;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.166;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.span-logo {
  color: #000000;
  display: inline-block;
}

.logo-span-footer {
  color: #ffffff;
}

.button {
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  width: 200px;
  height: 50px;
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px;
  border: none;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover, .button:focus {
  background-color: #188ce8;
}

@media screen and (min-width: 320px) {
  .section-padding {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .section-padding {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (max-width: 1199px) {
  .title-section {
    font-weight: 700px;
    font-size: 28px;
    line-height: 1.179;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 1200px) {
  .title-section {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.667;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 50px;
    text-align: center;
  }
}

.list-social-links-item {
  height: 44px;
  width: 44px;
  border-radius: 50%;
  cursor: pointer;
}

.list-social-links-item:not(:last-child) {
  margin-right: 10px;
}

.list-social-links-link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  height: 100%;
  width: 100%;
  fill: #afb1b8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-social-links-link:focus, .list-social-links-link:hover {
  background-color: #2196f3;
  fill: #ffffff;
}

.list-social-links {
  display: flex;
  justify-content: center;
}

.paragraph-card {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: #757575;
}

/*layout*/
.header {
  background-color: #ffffff;
  border-bottom: 1px solid #ececec;
}

.burger-btn {
  top: 10px;
  right: 10px;
  border: none;
  padding: 0;
  background-color: #ffffff;
}

.burger-icon {
  fill: #000000;
  transform: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.burger-icon:hover, .burger-icon:focus {
  fill: #2196f3;
}

.mobile-menu {
  position: fixed;
  overflow: auto;
  background-color: #ffffff;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-120%);
  padding: 48px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  transform: translateX(-50%) translateY(0%);
}

.close-menu {
  border: none;
  padding: 0;
  background-color: #ffffff;
  position: absolute;
  top: 10px;
  right: 15px;
}

.menu-nav-list-link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: #212121;
}

.menu-nav-list-item + .menu-nav-list-item {
  margin-top: 30px;
}

.list-contacts-link-mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 0.857;
  letter-spacing: 0.02em;
  color: #757575;
}

.list-contacts-item-mail {
  margin-top: 32px;
}

.mobile-list-soclinks-item-link {
  font-weight: 500;
  font-size: 10px;
  line-height: 0.983;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.list-contacts-link-tel {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.136;
  letter-spacing: 0.02em;
  color: #2196f3;
}

@media screen and (min-width: 480px) {
  .mobile-list-soclinks-item-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.222;
    letter-spacing: 0.02em;
  }
  .list-contacts-link-tel {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.176;
    letter-spacing: 0.02em;
    color: #2196f3;
  }
}

.mobile-list-soclinks {
  display: flex;
  flex-wrap: wrap;
  margin-top: 64px;
  word-wrap: break-word;
}

.mobile-list-soclinks li + li {
  margin-left: 10px;
  padding-left: 10px;
  border-left: 1px solid #757575;
}

/*mobale-menu end*/
.nav-list {
  display: none;
}

.list-contacts {
  display: none;
}

.logo-header {
  display: flex;
  flex-wrap: nowrap;
  padding-top: 16px;
  padding-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .logo-header {
    margin-right: 80px;
    padding-top: 26px;
    padding-bottom: 26px;
  }
}

@media screen and (min-width: 1200px) {
  .logo-header {
    margin-right: 93px;
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
  }
}

.nav-list-item + .nav-list-item {
  margin-left: 50px;
}

.nav-list-link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list-link::after {
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translateY(3px);
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list-link:hover, .nav-list-link:focus {
  color: #2196f3;
}

.nav-list-link:hover::after, .nav-list-link:focus::after {
  opacity: 1;
}

.activ-link {
  color: #2196f3;
}

.activ-link::after {
  opacity: 1;
}

/*contacts header*/
@media screen and (max-width: 1199px) {
  .list-contacts {
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    padding-top: 21px;
    padding-bottom: 21px;
  }
  .list-contacts-item + .list-contacts-item {
    margin-top: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .list-contacts {
    justify-content: center;
    align-items: center;
  }
  .list-contacts-item + .list-contacts-item {
    margin-left: 30px;
  }
}

.list-contacts-link {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.02em;
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-contacts-link:hover, .list-contacts-link:focus {
  color: #2196f3;
}

.icon-meseg {
  width: 16px;
  height: 12px;
  fill: currentColor;
  margin-right: 10px;
}

.icon-tel {
  width: 10px;
  height: 16px;
  fill: currentColor;
  margin-right: 10px;
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }
  .mobile-menu {
    display: none;
  }
  .nav-list {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .navigation {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .list-contacts {
    display: flex;
  }
}

@media screen and (max-width: 1199px) {
  .navigation {
    margin-right: 65px;
  }
}

@media screen and (min-width: 1200px) {
  .nav-list {
    margin-right: 0;
  }
  .list-contacts {
    justify-content: center;
    align-items: center;
  }
  .list-contacts-item + .list-contacts-item {
    margin-left: 30px;
  }
  .list-contacts-link {
    font-size: 14px;
    line-height: 1.143;
    padding: 32px 0;
  }
}

.list-bottons-button {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  min-width: 73px;
  border-radius: 4px;
  padding: 6px 22px;
  border: none;
  cursor: pointer;
  background-color: #f5f4fa;
  color: #212121;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-bottons-button:hover, .list-bottons-button:focus {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.activ-button {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.list-bottons {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .list-bottons {
    align-items: center;
    justify-content: center;
  }
}

.list-bottons-item:not(:last-child) {
  margin-right: 8px;
}

@media screen and (max-width: 767px) {
  .list-bottons-item:nth-child(-n + 3) {
    margin-bottom: 15px;
  }
}

.overlay-portfolio {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover .overlay-portfolio,
.portfolio-link:focus .overlay-portfolio {
  transform: translate(0);
}

.overlay-portfolio p {
  font-size: 18px;
  line-height: 1.555;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.list-portfolio {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

@media screen and (max-width: 767px) {
  .list-portfolio {
    justify-content: center;
  }
  .portfolio-item {
    max-width: 450px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .overlay-container {
    width: 354px;
  }
  .portfolio-item {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .overlay-container {
    width: 370px;
  }
  .portfolio-item {
    width: 370px;
  }
}

.portfolio-item {
  max-width: 450px;
  margin: 15px;
}

.overlay-container {
  position: relative;
  overflow: hidden;
}

.sabtitle-card {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  margin-bottom: 6px;
}

.card-text-conteiner {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 23px;
  padding-right: 23px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  box-sizing: border-box;
}

.portfolio-link {
  display: block;
  height: auto;
  width: 100%;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover, .portfolio-link:focus {
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio-increased-cfrd-conteiner {
    height: 148px;
  }
  .portfolio-increased-cfrd {
    height: 440px;
  }
}

.footer {
  background-color: #2f303a;
}

.footer .logo-footer {
  margin-bottom: 20px;
}

@media screen and (min-width: 320px) {
  .footer {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (max-width: 767px) {
  .footer-conteiner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .footer-conteiner {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;
  }
}

@media screen and (max-width: 1199px) {
  .footer-address {
    margin-bottom: 60px;
  }
  .conteiner-soclinks-footer {
    margin-bottom: 60px;
  }
  .list-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .logo-footer {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer-conteiner {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    align-items: baseline;
  }
  .footer-address {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .logo-footer {
    text-align: left;
  }
}

.footer-address {
  width: 232px;
}

.address-footer {
  font-style: normal;
}

.link-footer {
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-footer:hover, .link-footer:focus {
  color: #2196f3;
}

.item-footer:not(:last-child) {
  margin-bottom: 8px;
}

.white-link {
  color: #ffffff;
}

/*div social lincs*/
.conteiner-soclinks-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 206px;
}

@media screen and (min-width: 768px) {
  .conteiner-soclinks-footer {
    margin-left: 165px;
  }
}

@media screen and (min-width: 1200px) {
  .conteiner-soclinks-footer {
    margin-left: 70px;
  }
}

.icon-footer {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

.transparent-bgr-link {
  background: rgba(255, 255, 255, 0.1);
}

.b-footer {
  font-weight: 700;
  font-size: 14px;
  line-height: 1, 14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  display: block;
  margin-bottom: 20px;
}

/*conteiner with input*/
@media screen and (min-width: 320px) {
  .subscribe-conteiner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .subscribe-conteiner {
    width: 450px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe-conteiner {
    display: block;
    width: 570px;
    margin-left: 93px;
    margin-right: 0;
  }
}

.input-footer {
  display: block;
  width: 100%;
  height: 50px;
  padding: 15px;
  color: var(--white-color);
  background-color: var(--dark-fone);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-footer:focus {
  outline: none;
  border-color: #2196f3;
}

.input-footer::placeholder {
  display: inline-block;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 1200px) {
  .input-footer {
    display: inline-block;
    width: 350px;
  }
}

.subscribe-button {
  display: inline-block;
  position: relative;
  text-align: left;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 29px;
  padding-right: 62px;
  margin-left: 12px;
  margin-top: 20px;
}

.subscribe-button::after {
  position: absolute;
  content: "";
  height: 24px;
  width: 24px;
  top: 13px;
  right: 28px;
  background-image: url(../img/telegramm.svg);
}

@media screen and (min-width: 1200px) {
  .subscribe-button {
    margin-top: 0;
  }
}
/*# sourceMappingURL=portfolio.css.map */