.wrapper-icon-about-list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120px;
  background-color: $background-color-section;
  margin-bottom: 30px;
}

.about-list-item-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $title-tex-color;
  margin-bottom: 10px;
  text-align: center;

  @media screen and (min-width: 480px) {
    text-align: left;
  }
}

.about-list-paragraph {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: $primary-text-color;
}

@media screen and (max-width: 767px) {
  .about-list-item {
    width: 100%;
  }
  .about-list-item + .about-list-item {
    margin-top: 30px;
  }
}

@media screen and (min-width: 768px) {
  .about-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }

  .about-list-item {
    width: 354px;
    height: 251px;
    margin: 15px;
  }

  @media screen and (min-width: 1200px) {
    .about-list-item {
      width: 270px;
      height: 251px;
    }
  }
}
