.conteiner {
  width: 100%;
  padding: 0px 15px;

  .header & {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media screen and (max-width: 480px) {
  .conteiner {
    max-width: 480px;
  }
}

@media screen and (min-width: 480px) {
  .conteiner {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .conteiner {
    width: 768px;
    padding-top: 0;
    padding-bottom: 0;

    p .header & {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}

@media screen and (min-width: 1200px) {
  .conteiner {
    width: 1200px;
  }
}

// .conteiner {
//   width: 1200px;
//   margin: 0 auto;
//   padding-left: 15px;
//   padding-right: 15px;
// }
