// .clients-list {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
// }

.clients-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: -15px;
}

.list-linc-clients {
  width: 210px;
  height: 90px;
  cursor: pointer;
  margin: 15px;

  @media screen and (min-width: 768px) {
    width: 226px;
  }

  @media screen and (min-width: 1200px) {
    width: 170px;
  }
}

.linc-clients {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  border: 1px solid $fill-icon;
  border-radius: 4px;

  transition: border $transition;

  &:hover,
  &:focus {
    border: 1px solid $accent-color;
  }

  &:hover svg,
  &:focus svg {
    fill: $accent-color;
  }
}

.icon-clients {
  fill: $fill-icon;
  transition: fill $transition;
}
