.footer {
  background-color: $ark-fone;

  .logo-footer {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 320px) {
  .footer {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (max-width: 767px) {
  .footer-conteiner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .footer-conteiner {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;
  }
}

@media screen and (max-width: 1199px) {
  .footer-address {
    margin-bottom: 60px;
  }
  .conteiner-soclinks-footer {
    margin-bottom: 60px;
  }
  .list-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .logo-footer {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer-conteiner {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    align-items: baseline;
  }
  .footer-address {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .logo-footer {
    text-align: left;
  }
}

.footer-address {
  width: 232px;
}

.address-footer {
  font-style: normal;
}

.link-footer {
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: $link-footer;

  transition: color $transition;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.item-footer:not(:last-child) {
  margin-bottom: 8px;
}

.white-link {
  color: $white-color;
}

/*div social lincs*/
.conteiner-soclinks-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 206px;
  // margin-bottom: 60px;

  @media screen and (min-width: 768px) {
    margin-left: 165px;
  }

  @media screen and (min-width: 1200px) {
    margin-left: 70px;
  }
}

.icon-footer {
  width: 20px;
  height: 20px;
  fill: $white-color;
}

.transparent-bgr-link {
  background: rgba(255, 255, 255, 0.1);
}

.b-footer {
  font-weight: 700;
  font-size: 14px;
  line-height: 1, 14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $white-color;
  display: block;
  margin-bottom: 20px;
}

/*conteiner with input*/

@media screen and (min-width: 320px) {
  .subscribe-conteiner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .subscribe-conteiner {
    width: 450px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe-conteiner {
    display: block;
    width: 570px;
    margin-left: 93px;
    margin-right: 0;
  }
}

.input-footer {
  display: block;
  width: 100%;
  height: 50px;
  padding: 15px;
  color: var(--white-color);
  background-color: var(--dark-fone);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  transition: border-color $transition;

  &:focus {
    outline: none;
    border-color: $accent-color;
  }

  &::placeholder {
    display: inline-block;
    color: rgba(255, 255, 255, 0.6);
  }

  @media screen and (min-width: 1200px) {
    display: inline-block;
    width: 350px;
  }
}

.subscribe-button {
  display: inline-block;
  position: relative;
  text-align: left;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 29px;
  padding-right: 62px;
  margin-left: 12px;
  margin-top: 20px;

  &::after {
    position: absolute;
    content: "";
    height: 24px;
    width: 24px;
    top: 13px;
    right: 28px;
    background-image: url(../img/telegramm.svg);
  }
}

@media screen and (min-width: 1200px) {
  .subscribe-button {
    margin-top: 0;
  }
}
