.clients {
    background: var(--active-color);
    padding-top:94px;
    padding-bottom: 94px;
    }    
.clients-header {
   font-size: 36px;
   font-style: normal;
   font-weight: 700;
   line-height: 42px;
   letter-spacing: 0.03em;
   text-align: center;
   margin-bottom: 50px;
   color:var(--main-color); 
}
.clients-list {
    display: flex;
    justify-content: center;
}
.clients-link {
    display: block;
    height: 90px;
    width: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    transition-property: border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
   
    & :focus,
    & :hover {
    border: 1px solid var(--accent-color);}
}

.clients-link:focus .current,
.clients-link:hover .current {
        fill: var(--accent-color);
    }    
 .clients-icon-a {
    width: 45px; 
    height: 44px;
    fill: #AFB1B8;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-icon-b {
    width: 40px; 
    height: 52px;
    fill: #AFB1B8;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-icon-c {
    width: 42px; 
    height: 42px;
    fill: #AFB1B8;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-icon-d {
    width: 80px; 
    height: 42px;
    fill: #AFB1B8;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-icon-e {
    width: 59px; 
    height: 47px;
    fill: #AFB1B8;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-icon-f {
    width: 88px; 
    height: 66px;
    fill: #AFB1B8;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
 .clients-item {
    width: 170px;
    height: 90px;
    margin-right: 30px;
    }
.clients-item:last-child {
    margin-right: 0;
} 
.clients-icon {
    fill: #AFB1B8;
    width: 170px;
    height: 90px;
   
   &:hover{
   fill: #2196f3;}
} 