.contact-information {
    background:var(--background-dark-color);
    padding-top: 60px;
    padding-bottom: 60px;
 }
 .contact-information-container {
     width: 1200px;
     padding-right: 15px;
     padding-left: 15px;
     margin-right:  auto;
     margin-left: auto;
     display: flex; 
     align-items: baseline;
   }
 .logo-studio-white {
     color:var(--active-color);
     font-family: Raleway;
     font-weight: bold;
     font-size: 26px;
     line-height: 1.19;
     text-decoration: none;
 }
 .company-address {
     line-height: 1.71;
     letter-spacing: 0.03em;
     color:var(--active-color);
     margin-top: 20px;
 }
 .tel-mail {
       line-height: 1.71;
       letter-spacing: 0.03em;
       color:var(--inactive-color);
       text-decoration: none;
       display: block;
 }
 .contact-information-item {
     margin-top: 9px;
 }
 .tel-mail:hover,
 .tel-mail:focus {
        color:var(--accent-color);
 }
 .link-logo {
     display: block;
 }
 .container-icons {
    margin-left: 70px;
 
    &__ p{
     font-weight: bold;
     line-height: 16px;
     letter-spacing: 0.03em;
     text-transform: uppercase;
     color: #FFFFFF;
     margin-bottom: 20px;
 }
}

 .contact-list-icons {
     display: flex;
     align-items: center;
 }
 .contact-icons {
     height: 44px;
     width: 44px;
     margin-right: 10px;
     fill: var(--active-color);
 
     &:last-child {
     margin-right: 0;
 } 
}
 .contact-list-link {
     border-radius: 50%;
     height: 44px;
     width: 44px;
     background-color:rgba(255, 255, 255, 0.1); 
     display:flex; 
     justify-content: center;   
     align-items: center;  
     border: 0;
     cursor: pointer;
     transition-property: background-color;
     transition-duration: 250ms;
     transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
     &:hover,
     &:focus {
  background-color: var(--accent-color);
 } 
 }  
  .contact-icons-footer {
      height: 20px;
      width: 20px;
      fill: #FFFFFF;
  } 
  .subscribe {
     margin-left: 93px;
     position: relative;
  
   &__ p {
     font-weight: bold;
     line-height: 16px;
     letter-spacing: 0.03em;
     text-transform: uppercase;
     color: var(--active-color);
     margin-bottom: 20px;
 }
}
 .footer-submit-input {
     margin-right: 12px;
     border: 1px solid rgba(255, 255, 255, 0.3);
     box-sizing: border-box;
     filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: inherit;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 16px;
    width: 358px;
    height: 50px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
   color: var(--inactive-color);
 }
 .contact-icons-footer-subcribe {
     width: 24px;
     height: 24px;
     position: absolute;
     margin-left: 10px;
     top: 30%;
     translate:Y(-30%);
     }
