.list-social-links-item {
  height: 44px;
  width: 44px;
  border-radius: 50%;
  cursor: pointer;

  &:not(:last-child) {
    margin-right: 10px;
  }
}

.list-social-links-link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  height: 100%;
  width: 100%;
  fill: $fill-icon;

  transition: background-color $transition, fill $transition;

  &:focus,
  &:hover {
    background-color: $accent-color;
    fill: $white-color;
  }
}

.list-social-links {
  display: flex;
  justify-content: center;
}

// .social-link-icon {
//   fill: $fill-icon;
// }
