.specialization {
    padding-bottom: 94px;
    padding-right: 15px;
    padding-left: 15px;
   }
.specialization-header {
    font-family: Roboto;
    font-size: 36px;
    font-weight: bold;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color:var(--main-color);
    text-align: center;
    margin-bottom: 50px;
}
.specialization-list {
 display: flex;
 justify-content: center;
 
}
.specialization-item {
display: flex;
margin-right: 30px;  
}
.specialization-item :last-child {
    margin-right: 0px;

    &__ p {
    font-weight: bold;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--active-color);
}
}
.specialization-item {
    position: relative;
    width: 370px;
   } 
.label-specialization {
    position: absolute;
    width: 100%;
    background: rgba(47, 48, 58, 0.8);
    margin-top: 224px;
    padding-bottom: 29px;
    padding-top: 27px;
    padding-right: 82px;
    padding-left: 82px;
}