@media screen and (max-width: 1199px) {
  .title-section {
    font-weight: 700px;
    font-size: 28px;
    line-height: 1.179;
    text-align: center;
    letter-spacing: 0.03em;
    color: $title-tex-color;
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 1200px) {
  .title-section {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.667;
    letter-spacing: 0.03em;
    color: $title-tex-color;
    margin-bottom: 50px;
    text-align: center;
  }
}
